<h3>Enter board space =></h3>
<form action = "get_move" method = "post"> 
  <input type = "integer" name = "position">
  <input type = "submit" value = "add position to board">
</form>

<table>
<tr>
    <td><%=session[:board].ttt_board[0]%></td>
    <td><%=session[:board].ttt_board[1]%></td>
    <td><%=session[:board].ttt_board[2]%></td>
  </tr>
  <tr>
    <td><%=session[:board].ttt_board[3]%></td>
    <td><%=session[:board].ttt_board[4]%></td>
    <td><%=session[:board].ttt_board[5]%></td>
  </tr>
  <tr>
    <td><%=session[:board].ttt_board[6]%></td>
    <td><%=session[:board].ttt_board[7]%></td>
    <td><%=session[:board].ttt_board[8]%></td>
  </tr>
</table>
